.detail{
    .product{
        display: flex;
        
        .wrap-info{
            width: 40%;
            margin: 40px 0;
            box-sizing: border-box;
            img{
                width: 400px;
                height: 300px;
            }
            .title{
                font-size: 20px;
                margin-bottom: 6px;
                margin-top: 20px;
            }
            .price{
                margin-bottom: 20px;
            }

            table{
                width: 100%;
                margin-top: 20px;
                td{
                    height: 30px;
                    line-height: 30px;
                    &:first-child{
                        font-weight: bold;
                    }
                    &:nth-child(2){
                    }
                    &:nth-child(3){
                        width: 68%;
                        text-align: right;
                        .prod-button, button{
                            width: 120px;
                            height: 40px;
                            display: block;
                            background: #383b5f;
                            border: none;
                            color: #ffffff;
                            font-size: 14px;
                            text-align: center;
                            line-height: 40px;
                            float: right;
                            &:focus{outline: none;}
                        }
                    }
                }
            }
        }
    }

    .explain{
        .wrap-menu-nav{
            height: 60px;
            display: flex;
            margin-bottom: 50px;
            .nav-item{
                width: 50%;
                text-align: center;
                line-height: 60px;
                font-size: 18px;
                font-weight: bold;
            }
    
            a{color: #abdddc; text-decoration: none;}
        }
    }
    
    .info{
    }
}