@import "/_mixin.scss";

.home{
    .cont-title{
        font-size: 1.3em;
        font-weight: 500;
    }

    .cont-sub-title{
        color: #0b53bd;
        font-size: 0.9em;
        font-weight: 500;
    }

    .home-clear{
        clear: both;
    }
}
