.nav{
    display: block;
}
.nav .navbar{
    display: flex;
    justify-content: space-between;
}
.nav .navbar .nav-item{}
.nav .navbar .nav-item .in-item{
    margin-left: 20px;
}
.nav .navbar:nth-child(2) .nav-item .in-item{
    padding-right: 20px;
    border-right: 1px solid black;
}
.nav .navbar:nth-child(2) .nav-item .in-item:last-child{
border: none;
padding-right: 0px;
}
.nav a, .nav a:hover, .nav a:visited, .nav a:active{
    color: #000000;
    text-decoration: none;
}
.nav .navbar .nav-item:nth-child(2){
    width: 500px;
    text-align: right;
}
.nav .navbar .nav-item input{
    width: 80%;
    border: 1px solid #000;
    border-right: none;

}
.nav .navbar .nav-item button{
    width: 20%;
    border: 1px solid #000;
    border-left: none;
}
.nav .navbar .nav-item button:focus{
    outline: none;
}
