@import "/_mixin.scss";

.popular{
    width: 100%;
    .category{
        margin: 20px 0;
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 2%;

        .category-wrap{
            display: flex;
            position: relative;
            .wrap-label{
                text-align: center;
            }

            .category-blank{
                width: 25px;
            }
    
            input[type="radio"]{ width: 0px; visibility:hidden; margin: 10px 0;}
            input + label{
                width: 5%;
                height: 30px;
            }
            input:checked + label{
                // width: 50px;
                color: #609ae9;
                border-bottom: 2px solid #609ae9;
            }

            .category-hr{
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: 5px;
                background: #eee;
                z-index: -2;
            }
        }
    }

    .wrap-product{
        margin: 0 auto;

        .category-intro{
            width: 38%;
            height: 240px;
            margin-right: 2%;
            float: left;
            box-shadow: 0.5px 0.5px 3px 0 rgba(0,0,0,0.2);

            .cate-intro-img{
                width: 100%;
                height: 100%;
                border-radius: 4px;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

}

@include mobile{
    .popular{
        .category{
            .category-wrap{
                input + label{
                    width: 20%;
                }
                .category-blank{
                    width: 8px;
                }
            }
        }
    }
}