.post{
    width: 600px;
    margin: 60px auto 100px;

    .question{
        margin: 40px 0 10px;
        font-size: 20px;
    }

    .wrap-radio{
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        label{
            border: 1px solid black;

            .wrap-label{
                cursor: pointer;
                height: 50px;
                text-align: center;
                line-height: 50px;
            }

            .label-30{width: 190px;}
            .label-50{width: 290px;}
        }


        input[type="radio"]{
            width: 0px;
            visibility:hidden;
        }

        input:checked + label{
            color: white;
            background: #fda036;
            border: 1px solid #fda036;
        }
    }

    .info{
        input{
            width: 100%;
            height: 40px;
            padding-left: 10px;
            box-sizing: border-box;
            background: #e4f7f7;
            border: 1px solid #383b5f;
            &:focus{outline: none;}
        }

        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"]{
            width: 480px;
            height: 40px;
        }

        input[type="file"]{
            background: none;
            border: none;
        }

        textarea{
            width: 100%;
            height: 120px;
            padding-left: 10px;
            box-sizing: border-box;
            resize: none;
            overflow-y: scroll;
            &:focus{outline: none;}
        }

        .wrap-button{
            width: 100%;
            background: #fda036;
            button{
                width: 120px;
                height: 39px;
                color: white;
                border: none;
                background: none;
                &:focus{outline: none;}
            }
        }
    }

    .submit-button{
        width: 100%;
        height: 50px;
        background: #fda036;
        border: none;
        margin: 40px 0 0;
        color: #ffffff;
        &:focus{outline: none;}
    }
}