.product{
    width: 100%;
    .wrap-product{
        margin: 0 auto;
    }

    a{
        color: black;
        text-decoration: none;
    }
}

.item{
    width: 260px;
    margin: 0 20px 40px;
    float: left;
    .img{
        width: 100%;
    }

    .title{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1.2em;
    }
    .seller{}
    .price{}
}