.product{}

.product-list{}
.product-list .wrap-product{
    width: 100%;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.item{}
.item .img{
    width: 260px;
}
.item .title{}
.item .seller{}
.item .price{}