.product{}

.product-list{}
.product-list .wrap-product{
    width: 100%;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.item{
    width: 260px;
    background: #feedd3;
}
.item .img{
    width: 260px;
}
.item a, .item a:hover, .item a:visited, .item a:active{
    color: #000000;
    text-decoration: none;
}
.item div{
    margin-top: 4px;
}
.item .title{
    margin-top: 20px;
}
.item .seller{}
.item .price{}